<div class="my-container">
  <div class="my-info child">
    <div class="limit-width">
      <div class="my-icon">
        <div class="icon"></div>
      </div>
      <div class="my-details">
        <div class="h1"> Browser: {{model.browser.name}} (version: {{model.browser.major}}) </div>
        <div class="h2"> Operating System: {{model.os.name}} - {{model.os.version}} </div>
        {{#if model.device.name}}
        <div class="h2"> Operatin System: {{model.device.name}} - {{model.os.type}} </div>
        {{/if}}
        <div class="last-seen fnt-hair">
          {{#if model.latestActivity.publisherName}}
          Last seen at {{model.latestActivity.publisherName}} ({{moment-from-now model.latestActivity.activityDate}})
          {{/if}}
        </div>
      </div>
      <div class="cancel-consent">
        <button class="btn-forget">Forget me</button>
      </div>
    </div>
  </div>
  <nav class="my-tabs child">
    <div class="limit-width">
      {{#link-to "me.idp" class="tab"}}Identity Providers{{/link-to}}
      {{#link-to "me.activity" class="tab"}}Activity{{/link-to}}
    </div>
  </nav>
  <div class="active-tab child">
    <div class="limit-width column">
       {{outlet}}
    </div>
  </div>
</div>
