<div class='list-item'>
  <div class="col name">
    <a target="_blank" href="{{item.url}}">{{item.name}}</a>
  </div>
  <div class="col actions status {{statusText}}">
      {{statusText}}
  </div>
  <div class="col actions link">
    {{#link-to "me.members"}} {{actionText}} {{/link-to}}
  </div>
  <div class="col">

  </div>
</div>
